{# templates/type/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="mt-3">TYPES</h1>
                <div class="row">
                    {% for type in types %}
                        <div class="col-md-3">
                            <div class="card mt-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ type.name }}</h5>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('type_edit', { 'id': type.id }) }}" class="btn btn-secondary">Edit</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <p class="mt-3"><a href="{{ path('types_new') }}" class="btn btn-success">Create new type</a></p>
            </div>
        </div>
    </div>
{% endblock %}

