<!DOCTYPE html>
<html>
<head>
    <title>Types</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Types</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for type in types %}
        <tr>
            <td>{{ type.name }}</td>
            <td>
                <p><a href="{{  path('type_edit', { 'id': type.id }) }}">Edit</a></p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p><a href="{{  path('types_new') }}">Create new type</a></p>
</body>
</html>
